.navbar {
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: inherit;
    color: Black;
    padding: 5px 20px;
  }

  .user_icon {
    font-size: 24px;
    font-weight: bold;
    padding-right:50px ;
  
  }

  .setting-icon {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  padding-top: 10px;
}